@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");
* {
  font-family: "Tiro Devanagari Hindi", serif;
  padding: 0px;
  margin: 0px;
}
.banner-bg-img {
  /* background-color: rgb(70, 47, 47); */
  box-shadow: inset 100px 0 100px 100px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  background-image: url("./img/background-img-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-text-and-btn {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 18%;
}
.banner-text-and-btn button {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 49px;
  padding-right: 49px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: rgb(56, 56, 107);
  font-size: 1.2rem;
  color: white;
}
button a {
  text-decoration: none;
}
.banner-text-and-btn .login-text {
  font-size: 2.4rem;
  text-transform: uppercase;
  /* color: white; */
  color: black;
  font-weight: bolder;
}
